.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  
  
  .pipoc{
    margin: 0px 10px;
  }


  .sph{
    margin: 0px auto;
    text-align: center;
  }


  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
.carousel-inner img {
    width: 100%;
    height: 20%;
}
.askg>li, .vh>li{
  list-style-type: none;
  margin-bottom: 50px;
}

ul {
  align-items: center;
}

.askg>li:last-child{
  margin-bottom:0;
}

body{
  background-color: rgba(255, 255, 255, 0.678);
}
  .overflow-hidden { overflow: hidden; }


.hybrid-jumnbo{
  font-size: 20px;
}